.mainMenu {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 400px;
}

.mainMenu__item {
  position: relative;
  display: flex;
  align-items: center;
}

.mainMenu__link {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 2.27em 20px;
  color: #fff;
}
.mainMenu__link:hover,
.mainMenu__link:focus {
  background-color: #235b5f;
}
