.list {
  grid-column: 1 / -1;

  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;

  width: 100%;
  padding-bottom: 30px;
}

.item {
  width: 227px;
}
