.tabs {
  width: 100%;
}

.tabList {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  box-shadow: inset 0 -1px 0 0 #e5a607;
}

.tabButton {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 16px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.2;

  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: #e5a607;
}

.tabButton--active {
  border: 1px solid #e5a607;
  border-bottom-color: #fff;
  background-color: #fff;
}
