.header {
  background-color: #008184;
  display: flex;
  align-items: stretch;
  padding: 0;
  min-height: 68px;
}

.nav {
  display: flex;
  flex-grow: 1;
  height: auto;
}

.logo {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 30px;
}

.logo:hover,
.logo:focus {
  background-color: #235b5f;
}

.mainMenu {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 400px;
}

.mainMenu__item {
  position: relative;
  display: flex;
  align-items: center;
}

.mainMenu__link {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 2.27em 20px;
  color: #fff;
}
.mainMenu__link:hover,
.mainMenu__link:focus {
  background-color: #235b5f;
}

.search {
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.input {
  width: 212px;
  border: 1px solid #006d70;
  background-color: #006d70;
  font-size: 17px;
  border-radius: 25px;
  padding: 7px 28px 7px 52px;
  box-sizing: border-box;
  color: #b2d3d3;
}

.inputWrapper {
  position: relative;
}

.inputWrapper::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 17px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);

  background-image: url("./search.svg");
}

.input::placeholder {
  color: #b2d3d3;
}

.input:hover {
  border-color: #fff;
}

.input:focus {
  border-color: #fff;
  box-shadow: 0 0 0 1px #fff;
}

.userMenu {
  display: flex;
  width: 127px;
}

.userMenu__item {
  width: 50%;
  border-right: 1px solid #fff;
}

.userMenu__btn {
  border: none;
  background-color: transparent;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;
}

.userMenu__item:first-of-type .userMenu__btn {
  background-image: url("./cart.svg");
}

.userMenu__item:last-of-type .userMenu__btn {
  background-image: url("./favorites.svg");
}

.userMenu__btn:hover,
.userMenu__btn:focus {
  background-color: #235b5f;
}

.loginWrapper {
  width: 108px;
}

.login {
  display: block;
  text-align: center;
  padding: 2.25em 0;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.login:hover,
.login:focus {
  background-color: #235b5f;
}
